{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    <meta charset="UTF-8">
    <title>Welcome to simple news</title>
</head>
<body>
<div class="main-container img">
    <div class="row">
        <div class="main-block">
            <h1>Китайская ядерная энергетика</h1>
            <p class="main-block-subtitle">Затаившийся дракон</p>
        </div>
    </div>
    <div class="row">
        <div class="navigation">
            <li class="nav-item"><a  href="http://127.0.0.1:8000/website/news/">Новости</a></li>
            <li class="nav-item"><a  href="#about">О нас</a></li>
            <li class="nav-item"><a  href="#utilities">Утилиты</a></li>
        </div>
    </div>
</div>
</body>
</html>